{% extends 'layouts/master.html' %}

{% block title %}
    Product | ADD
{% endblock %}

{% block content %}
    <div class="container">
        <h1>This is Product ADD Page</h1>
        <hr>
           <!-- breadcrump -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="{% url 'list-product' %}">Products</a></a></li>
          <li class="breadcrumb-item active"> Add</a></li>
        
        </ol>
      </nav>
      <!-- content -->
        
        <div class="card p-5">
            <form action="{% url 'add-product' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="ADD" class="btn btn-primary col12">
                       
            </form>
            </div>
            </div>
           
                
    </div>
{% endblock content %}
