{% extends 'layouts/master.html'%}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <hr>
    <!-- bread crump-->
   <!-- contetnt-->
  
    <div class="row">
        <div class="col p-2 card mx-2">
            Products
            <hr>
            <a href="{% url 'list-product' %}">View Product</a>
        </div>
        <div class="col p-2 card mx-2">
            Orders
            <hr>
            <a href="{% url 'list-product' %}">View Product</a>
        </div>
        <div class="col p-2 card mx-2">
           Categories
           <hr>
           <a href="{% url 'add-category' %}">Add Categories</a>  
        </div>
    
   </div>
</div>
{% endblock %}


